/* Estilos para el contenedor del semáforo */


.semaforo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 200px;
    height: 550px;
    margin: 15px;
    border-radius: 30px;
   
  }
  
  /* Estilos para los botones del semáforo */

  /* Estilos para el botón rojo */
  .semaforo-button.rojo {
    background-color: grey;
  }
  
  /* Estilos para el botón amarillo */
  .semaforo-button.amarillo {
    background-color: grey;
  }
  
  /* Estilos para el botón verde */
  .semaforo-button.verde {
    background-color: grey;
  }
  